<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mnn.llm">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- 设置图标，名称，主题 -->
        <!-- activity为程序的主要活动界面，分为三个：下载模型，聊天和启动界面
         在com.mnn.llm包中有对应的代码文件-->
        <activity
            android:name=".MainActivity"
            android:screenOrientation= "portrait"
            >
            <!-- .MainActivity为启动程序后跳转的首个页面 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Conversation"
            android:screenOrientation= "portrait"
            android:theme="@style/AppTheme.Trans">
        </activity>
        <activity
            android:name=".DownloadModel"
            android:screenOrientation= "portrait"
            android:theme="@style/AppTheme.Trans">
        </activity>

        <!--通知监听服务-->
        <service
            android:name=".notify.NotifyService"
            android:enabled="true"
            android:label="测试通知服务"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

    </application>


    <uses-permission android:name="android.permission.INTERNET"/>

</manifest>